:root {
    --volume-round-radius: none;
}

.audio_VolumePopin_2iUUM {
    width: var(--volume-width);
}

.audio_VolumePopin_2iUUM, .audio_VolumePopinHidden_1OwmL {
    border-radius: var(--volume-round-radius);
}